<div class="footer">
    <div class="footer-col">
        <div class="title">ShoeStore</div>
        <div class="content">
            <div class="paragraph mt-2">
                A small river named Duden flows by their place and supplies it with the necessary regelialia
            </div>
            <div class="readmore">
                read more
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="footer-col">
        <div class="title">CATEGORIES</div>
        <div class="content">
            <li>Buy & Sell</li>
            <li>Merchent</li>
            <li>Giving Back</li>
            <li>Help & Support</li>
        </div>
    </div>
    <div class="footer-col">
        <div class="title">TAG CLOUND</div>
        <div class="content">
            <div class="tag">DISH</div>
            <div class="tag">MENU</div>
            <div class="tag">FOOD</div>
            <div class="tag">SWEET</div>
            <div class="tag">TASTY</div>
            <div class="tag">DELICIOUS</div>
            <div class="tag">DESSERTS</div>
            <div class="tag">DRINKS</div>
        </div>
    </div>
    <div class="footer-col">
        <div class="title">SUBCRIBE</div>
        <div class="input-container">
            <input type="email" placeholder="Enter email address">
            <i class="fa-solid fa-paper-plane"></i>
        </div>
        <div class="title">FOLLOW US</div>
        <div class="tag">

        </div>
    </div>
</div>


<style>
    .footer{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        background-color: #272727;
    }

    .footer-col{
        width: 250px;
        justify-content: left;
        font-size: small;
        padding-right: 40px;
        color: white;

        margin-top: 50px;
        margin-bottom: 30px;
    }

    .title{
        font-weight: bold;
        margin-bottom: 20px;
    }

    .readmore{
        color: #F7B633;
    }

    li{
        list-style: none;
        padding-bottom: 8px;
    }

    .tag{
        font-size: 10px;
        display:inline-block;
        border: 1px solid rgb(107, 104, 104);
        border-radius: 4px;
        padding: 6px 10px;
        margin-bottom: 5px;
        margin-right: 2px;
    }
</style>

@code{

}